<p id="notice"><%= notice %></p>

<h1>Airports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place count</th>
      <th>Town</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.name %></td>
        <td><%= airport.place_count %></td>
        <td><%= airport.town %></td>
        <td><%= link_to 'Show', airport %></td>
        <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
        <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airport', new_airport_path %>
