<p id="notice"><%= notice %></p>

<p>
  <strong>Time in:</strong>
  <%= @trip.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @trip.time_out %>
</p>

<p>
  <strong>Plane:</strong>
  <%= @trip.plane %>
</p>

<p>
  <strong>Airport from:</strong>
  <%= @trip.airport_from %>
</p>

<p>
  <strong>{:</strong>
  <%= @trip.{ %>
</p>

<p>
  <strong>To table:</strong>
  <%= @trip.to_table %>
</p>

<p>
  <strong>:</strong>
  <%= @trip. %>
</p>

<p>
  <strong>}}:</strong>
  <%= @trip.}} %>
</p>

<p>
  <strong>Airport to:</strong>
  <%= @trip.airport_to %>
</p>

<p>
  <strong>{:</strong>
  <%= @trip.{ %>
</p>

<p>
  <strong>To table:</strong>
  <%= @trip.to_table %>
</p>

<p>
  <strong>:</strong>
  <%= @trip. %>
</p>

<p>
  <strong>}}:</strong>
  <%= @trip.}} %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
